@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Sevillana&display=swap');

@tailwind base;
@tailwind components;

* {
    scroll-behavior: smooth;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    @apply w-full min-h-screen overflow-hidden bg-white dark:bg-black;
}

main {
    /* sticky footer for base layout */
    @apply overflow-x-hidden flex flex-col h-[100vh];
}

.app {
    /* sticky footer for base layout */
    @apply flex-grow-[1];
}

@tailwind utilities;

::-webkit-scrollbar {
    @apply w-2 bg-white/10;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-500;
}

.no-scrollbar::-webkit-scrollbar {
    @apply hidden;
}
