@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;

* {
    scroll-behavior: smooth;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 1.6rem;
    @apply w-full;
}

main {
    @apply overflow-x-hidden flex flex-col min-h-screen bg-white dark:bg-primaryDark dark:text-white;
}

.app {
    @apply flex-grow;
}

.container {
    @apply px-12 sm:px-28 md:px-36 lg:px-48 xl:px-64 min-w-full;
}

.mobile-show {
    @apply block md:hidden;
}

.mobile-hide {
    @apply hidden md:flex;
}

.register-input {
    @apply border-[1px] border-gray-300 h-[40px] focus-within:border-blue-500;
}

@tailwind utilities;

::-webkit-scrollbar {
    @apply w-3 bg-white/10;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-500;
}

.no-scrollbar::-webkit-scrollbar {
    @apply hidden;
}
